footer {
  background: linear-gradient(
    to bottom right,
    #538cc9 0%,
    #355ca8 60%,
    #203a90 100%
  );
  min-height: 180px;
  padding: 32px 64px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navLinkList {
    display: flex;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .mainLinkContainer {
    display: flex;
    align-items: center;
  }

  .divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    width: 100%;
  }

  .bottomContainer ul {
    font-size: 14px;
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 32px;
  }

  a:hover {
    text-decoration: underline;
  }
}
