@media (min-width: 1200px) {
    .css-y33mf-MuiContainer-root {
        max-width: 1200px;
    }
}

.mainContent {
    display: flex;
    gap: 30px;

    .leftContent{
        //border: solid 1px black;
        width: 70%;
    }

    .rightContent{
        border-radius: 10px;
        height: fit-content;
        padding: 30px;
        width: calc(30% - 30px);
        margin-top: 60px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}


.skillsContainer {
    //border: solid 1px red;
    margin: 60px 0px;
    
}

.examsList{
    margin-bottom: 1px;
}

.paginate{
    margin-bottom: 70px;
}
